.nutritionalForm h2 {
    margin-top: 4%;
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 18pt;
    font-weight: bold;
}

.nutritionalForm p {
    font-family: 'Play', sans-serif;
    color: black;
    font-size: 10pt;
    text-align: center;
    margin: 5%;
    padding: 5px;
}


.tabs li{
    align-content: center;
    text-align: center;
    font-family: 'Play', sans-serif;
    font-size: 18pt;
    font-weight: bolder;

}

.grid-x {
    margin-top: 6%;
    position: relative;
    justify-content: center;
}

label {
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

.nutritionalForm button {
    margin-top: 20px;
    width: 80%;
    height: 8%;

}

.grid-x button {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    color: white;
    background-color: rgb(26, 65, 182);
    border-radius: 10pt;
    width: 80%;

}

body .grid-x h2 {
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

legend {
    font-family: 'Play', sans-serif;
}


.menuItems {
    font-size: 10pt;
}

.address {
    font-size: 10pt;
}
.distance {
    font-size: 10pt;
}

.grid-margin-x {
    margin: 0px;
}

.slider-handle {
    background-color: tomato;
    border-radius: 50%;
}

.searchBtn2 {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 80%;

}

.modalText {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 24px;
}